
<div id="home" >


<app-body>
</app-body>

</div>
<div class="NewPage">



  </div>


<div id="btc">
  <app-behind-the-scenes-page-section></app-behind-the-scenes-page-section>
  </div>
  <div id="social" >
  <app-follow-on-social-section-page></app-follow-on-social-section-page>
  </div>
  <div id="tour">
  <app-tour-page></app-tour-page>
  </div>
  <div id="media">
  <app-videos-page></app-videos-page>
  </div>

  <!-- Dahsboard widgets -->
  <div class="DashboardWidgetsGroup" [hidden]="showDashboardWidgets">
  <div id="DetailedAnalyticsIdWidgetID">
  <app-detailed-analytics></app-detailed-analytics>
  </div>
  <div id="DetailedAccountIdWidgetID">
  <app-detailed-account></app-detailed-account>
  </div>
</div>
