.ArtistAvatarDiv{
max-height: 95px;
    max-width: 95px;
    height: 95px;
    width: 95px;
    border-radius: 1000px;
    position: static;
    margin-left: auto;
    margin-top: 0%;
    margin-right: auto;
    background-repeat: no-repeat;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 99999;
    background-size: 100%;
    background-position: center;
    transition: all 0.3s;
}