<!--
<div class="ContainerWrapper">
<div class="CallToActionButtonsWrapper" id="CTAScrollCOntroll" data-tilt>
<div class="InnerCallToActionButton">
  <div class="CallToActionCLassSpreader" *ngFor="let CTAButton of callToActionButton" data-tilt>
    <div class="box">
    <table>
    <ul class="InnerButtonWrapper">
<li class="SingleButtonCTAClassBackground" [ngStyle]="{'background-image': 'url(' + buttonBackground + ')'}" data-tilt [@itemAnim]>
  <div class="CTAInnerTextClass">
{{CTAButton.callToActionTitle}}
</div>
</li>
</ul>
</table>
</div>
</div>
  </div>

</div>

</div>



<div class="ContainerWrapper">

  <div *ngFor="let CTAButton of callToActionButton" data-tilt>
    <div class="box">
  
   <div class="text">

{{CTAButton.callToActionTitle}}
</div>
</div>


</div>
</div>

    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    display: block;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 7vh;
-->
<div class="CallToActionClassOuterWrapper">
<div class="CallToActionClassInnerWrapper">


  <div class="MainliderOuterTextClass">
    <div class="MainHeaderSliderInnerClassWapper">
      <h1 class="SliderTextOne">
        Test call to action header text
      </h1>
    </div>

    <div class="SubTextAreaOne">
      <div class="InnerTextDivClass">
          Lorem ipsum dolor sit amet, <br>
           consectetur adipiscing elit. Maecenas finibus,  <br>
           felis non vulputate accumsan,  <br>
           elit augue sodales magna,  <br>
           ut auctor leo lacus vitae nibh.  <br>
      
      </div>
    </div>

  </div>
<div class="InnerCTAButtonSetListClass">
 <div *ngFor="let CTAButton of callToActionButton">
  <div class="InnerCTAButonWapperCLass">
    
    <div class="CTATextButton">{{CTAButton.callToActionTitle}}</div>




  </div>
</div>
</div>
</div>


</div>