<div class="pageWrapperBHTS" id="BHTSPageWrapperCOntentParalaxID"  [ngStyle]="{'background-image': 'url(' + itemBackground + ')'}">
<div class="BehindThescenesePageClass">
      <div class="btcContentWrapper"  id="bhtparalax" data-depth="0.8" parallax speed="5">
<h1 class="PageTitleClass" id="BHTSPageWrapperIDText">GET BEHIND THE SCENES</h1>
<div class="contentWrapperSection" >
  
<app-behind-the-scenes-content ></app-behind-the-scenes-content>
    </div>
    <div class="vipButtonWrapper">
<app-get-vip-button></app-get-vip-button>
</div>
</div>

</div>
</div>
