.modalVIPDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.2);
	z-index: 99999999999999999;
	opacity:1;
	-moz-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	pointer-events: none;

   
}


.Backgoundtitnedfogglassclass{

    z-index: 999999999999999999999;
}
.animated.bounceIn {
    border: solid rgba(255, 7, 112, 0.2) 1px;
    box-shadow: rgb(142, 142, 142) 0 0 20px 0px;
}

.HintTextCalss {

    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    transition: color 1s;
}
.HintTextCalss:hover {

    color: lightgray;
}

.close {
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 3px #000;
    transition: background 1s;
        background: rgba(0, 0, 0, 0.1);

}

.modalVIPDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalVIPDialog > div {
 
    position: relative;
     margin-left: 0vw;
     margin-right: 0vw;
     margin-top: 0vh;
     margin-bottom: 0vh;
    padding: 5px 20px 13px 20px;
    border: none;
    box-shadow: none;
  
    /*
    border-radius: 10px;
    color: white;
    background: rgba(255,255,255,0.2);
    background: -o-linear-gradient(#fff, #999);

    */
}







/*
Mobile

*/


@media screen and (max-width: 680px) {

.modalVIPDialog > div {
    width: 98%;
    height: 40vh;
    z-index: 9999999999999999;
    position: relative;
      margin-left:0vw;
     margin-right: 0vw;
     margin-top: 0vh;
      margin-bottom: 0vh;
     padding-bottom: 65vw;
     border: none;
     box-shadow: none;
  
/*
    border-radius: 10px;
    color: #ff0770;
    background: rgba(255,255,255,0.4);
    background: -o-linear-gradient(#fff, #999);

    */
}
}