.bottomBannerWrapper {
  
    display: flex;
}

.VIPButtonClass {
    width: 100%;
    display: block;
    margin-top: 16px;
}

.avatarBannerWrapperClass {
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 120px;
    width: 100%;
    height: 10px;
}


.pageWrapper {
    height: 100vh;
    display: block;
}

.avatarBannerWrapperClass {
    margin-top: 50%;
}

.bottomBannerWrapper{
   background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    padding-left: 3%;
    display: flex;
       color: #ffffff;
    letter-spacing: 6px;
    font-family: HelveticaNeueLight;  
    font-weight: lighter;
    min-height: 72px;
    height: 72px;
}
.avatarBannerWrapperClass {
   /* margin-top: 30%; */
}
app-artist-name {
    width: 100%;
}


.avatarClass {
    display: block;
    margin-right: 10px;
    max-height: 100px;
    height: 100px;
}

a.GetVipAccessButtonCLass {
    text-align: center;
    display: block;
    z-index: 999;
    color: black;
    background: white;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 21px;
    text-decoration: none;
    transition: color 0.5s, border 0.3s, font-size 0.3s, width 0.3s, padding 0.3s;
}

a.GetVipAccessButtonCLass:hover {
    text-align: center;
    display: block;
    z-index: 999;
    color: #ffffff;
    background: #ff0770;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 23px;
    text-decoration: none;
}

a.GetVipAccessButtonCLass:active {
    text-align: center;
    display: block;
    z-index: 999;
    color: #ff0770;
    background: #ffffff;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 23px;
    text-decoration: none;
}



/* mobile */

@media screen and (max-width: 680px) {

    .VIPButtonClass{

        margin-top: 7px!important;
        transition: margin 0.3s;
    }

     .VIPButtonClass:hover{

        margin-top: 3px!important;
    }
a.GetVipAccessButtonCLass {
    text-align: center;
    display: block;
    z-index: 999;
    color: black;
    background: white;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
   /* margin-right: 30px; */
    width: 80%;
       margin-top: 12px;
    font-size: 2.5vw;
    text-decoration: none;
    transition: all 0.3s;
}

a.GetVipAccessButtonCLass:hover {
    text-align: center;
    display: block;
    z-index: 999;
    color: #ffffff;
    background: #000000;
    padding: 3px;
    border: solid #ffffff 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 83%;
    margin-top: 12px;
    font-size: 3vw;
    text-decoration: none;
}

a.GetVipAccessButtonCLass:active {
    text-align: center;
    display: block;
    z-index: 999;
    color: #000000;
    background: #ffffff;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 85%;
 margin-top: 3px;
    font-size: 20px;
    text-decoration: none;
}


}