.VIPButtonClass {
    width: 100%;
    margin-top: 5vh;
}


a.GetVipAccessButtonCLass {
    text-align: center;
display: inline-grid;
    z-index: 999;
    color: black;
    background: white;
    padding: 3px;
    border: solid #ff0770 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 21px;
    text-decoration: none;
    transition: color 0.5s, border 0.3s, font-size 0.3s, width 0.3s, padding 0.3s;
        max-height: 40px;
         min-height: 40px;
         

}

a.GetVipAccessButtonCLass:hover {
    text-align: center;
    display: inline-grid;
    z-index: 999;
    color: #ffffff;
    background: #ff0770;
    padding: 3px;
    border: solid #ffffff 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 23px;
    text-decoration: none;
        max-height: 40px;
        min-height: 40px;

}

a.GetVipAccessButtonCLass:active {
    text-align: center;
   display: inline-grid;
    z-index: 999;
    color: #ff0770;
    background: #ffffff;
    padding: 3px;
    border: solid #000000 1px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 280px;
    font-size: 22px;
    text-decoration: none;
        max-height: 40px;
         min-height: 40px;

}


.joinVIPClass {
  
      margin-left: auto;
    text-align: center;
    margin-right: auto;
    display: block;
    width: 280px;
    margin-top: auto;
}