<div class="pageWrapper" id="tourPageWrapperID" >
<div class="PageWarpperTourClass" id="textWrapperTour" >


<h1 class="PageTitleClass" id="TourTitleID">TOUR</h1>
<h2 class="PageSubHeaderTitleClass">VIP / MEET & GREET TICKETS <br> AVALABLE FOR VIP MEMBERS ONLY </h2>
<div class="GetVipAccessCLass"> 
    <div class="GetVIPTourButtonWrapper" id="GetVIPTourButtonWrapperID">
    <app-get-vip-button></app-get-vip-button>
    </div>
</div>
<div class="TicketOuterWrapper" id="TicketOuterWrapperID">
<app-tickets></app-tickets>
</div>
</div>
</div>