  <div class="EntireDashboard">
  <span onclick="openNav()">
    
   <a href="#openDashboardModal" class="ClickToOpenDashboardClass" rel="noopener">

<div class="DashControll">
    <div id="slideout">
    <div class="ButtonText" >
       <a href="#openDashboardModal" class="GetVipAccessButtonCLass myButton" rel="noopener">Dashboard</a>

</div>
  </div>
<!-- dashboard goes here-->


 <div id="slideout_inner">

  </div>
 


  
    </div>

    </a>

</span>

    <!-- span -->
          <div class="Backgoundtitnedfogglassclass">
<div id="openDashboardModal" class="modalDashBoardDialog">
  <a href="#close" title="Close" class="close" rel="noopener">   </a> 
<a href="javascript:void(0)" class="closebtn" (click)="closeNav()" rel="noopener"></a>
<div class="animated bounceIn myDiv ">

  <app-dashboard id="idDashBoardTag"></app-dashboard>

</div>

<p class="HintTextCalss">Click anywhere to close</p>
    </div>
    

</div>
</div>
