/* You can add global styles to this file, and also import other style files */



.app-menu {
    float: right;
    width: 100%;
}

.pageWrapper {
    height: 100vh;
    display: block;
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url(/assets/fonts/HelveticaNeue.dfont);
}

@font-face {
    font-family: HelveticaNeueUltraLight;
    src: url(/assets/fonts/HelveticaNeueUltraLight.dfont);
}

app-bottom-banner {
    margin-top: 0%;
    margin-bottom: 0%;
    display: block;
    block-size: 40px;
}

.forgotPasswordDivClass {
    text-align: center;
}
/*
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/