
<div class="Backgoundtitnedfogglassclass">
<div id="openAccountModal" class="modalAccountDialog ">
      <a href="#openDashboardModal" title="CloseAna" class="closeAna" rel="noopener"> 
        
          </a>

<div class="animated bounceIn accountBoxClass">
 <h1 class="Account title"> </h1>
    <h2>Get Analytics Access</h2>
    <h3>Detailed artist analytics section</h3>
 
      <h1>You have 13 followers.</h1>

 

</div>
  <div class="backgroundBlur">
</div>
<p class="HintTextCalss">Click anywhere to close</p>
    </div>
    

</div>
